<main class="">
  <ng-template #drawer let-offcanvas>
    <div class="offcanvas-header">
      <div class="offcanvas-title">
        <app-app-logo></app-app-logo>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
      <div class="">
        <button class="d-block btn btn-outline-light my-2 text-info"
          (click)="navigateAndClose(offcanvas, '/')">Home</button>
      </div>
    </div>
  </ng-template>
  <nav *ngIf="!isLoginPage"
    class="sticky-top d-flex flex-row align-items-center justify-content-between shadow-sm py-2 px-2 px-md-3 px-lg-4 mx-0">
    <button class="btn btn-outline-info" (click)="openDrawer()"><i class="fa-solid fa-bars"></i></button>
    <div ngbDropdown>
      <button type="button" class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa-solid fa-user me-2"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onAccount()">Account</button>
        <button ngbDropdownItem (click)="onLogout()">Logout</button>
      </div>
    </div>
  </nav>
  <div class="">
    <router-outlet />
  </div>
  <app-footer></app-footer>
</main>